/{
	aliases {
		led0 = &led0;
		led1 = &led1;
		sw0 = &sw0;
	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&porta 15 GPIO_ACTIVE_LOW>;
			label = "led 0 on board";
		};

		led1: led_1 {
			gpios = <&portb 12 GPIO_ACTIVE_LOW>;
			label = "add on led";
		};
	};

	buttons {
		compatible = "gpio-keys";

		sw0: button_0 {
			gpios = <&porta 28 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "User Button";
			zephyr,code = <INPUT_KEY_0>;
		};
	};
};
